[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hanguofeng
[access "refs/for/refs/*"]
	read = group user/hanguofeng
	push = group user/hanguofeng
	label-Code-Review = -2..+2 group user/hanguofeng
	label-Verified = -1..+1 group user/hanguofeng
	rebase = group user/hanguofeng
	removeReviewer = group user/hanguofeng
	submit = group user/hanguofeng
[access "refs/heads/*"]
	read = group user/hanguofeng
	create = group user/hanguofeng
	push = +force group user/hanguofeng
	pushMerge = group user/hanguofeng
[access "refs/tags/*"]
	push = +force group user/hanguofeng
	pushTag = group user/hanguofeng
	pushSignedTag = group user/hanguofeng
